<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <ul>
    <% event.items.each do |item| %>
      <p> <%= item.name %>, Status: <%= item.status %> </p>
    <% end %>
  </ul>

  <% if event.qr_image.attached? %>
    <%= image_tag event.qr_image %>
  <% end %>

</div>
